<script>
    import { scaleLinear, scaleTime } from "d3-scale";
    import { area } from "d3-shape";
    import { extent, filter } from "d3-array";
    import { max } from "d3-array";
    export let dataset3 = null; 

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 20, right: 0, bottom: 10, left: 0 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
    const leaveheight = 50;
  let weeks = [...new Set(dataset3.map(d => d.week))].sort(); 
  let scaletime = scaleLinear().range([0,400]).domain([0,7*24])
  let scaleelect = scaleLinear().range([leaveheight/2,0]).domain([0,max(dataset3, d=>d.total_electrity)])
  let scalegas = scaleLinear().domain([0,max(dataset3, d=>d.total_gas)]).range([leaveheight/2,leaveheight])
    let electricity = area().x(d => scaletime(((d.day- 1) % 7)*24+d.hour)).y0(leaveheight/2).y1(d => scaleelect(d.total_electrity));
    let gasarea = area().x(d => scaletime(((d.day-1) % 7)*24+d.hour)).y0(d=> leaveheight/2).y1(d => scalegas(d.total_gas));
    console.log(dataset3.map(d=> scaletime((d.day-1)%7*24+d.hour)))
</script>
<svg {width} {height}>
    <g transform="translate({margin.left},{margin.top+300})">
        <line x1=300 y1=200 x2=300 y2={0-200} style="stroke:rgb(0,0,0);stroke-width:2" />
      <g transform="rotate( -20 0.5 2) translate({margin.left+320},{margin.top-50})">
        <path transform="scale(-1, 1) translate(-400, 0)" d={electricity(dataset3.filter(d => d.week==48))} fill="blue"/>
        <path transform="scale(-1, 1) translate(-400, 0)" d={gasarea(dataset3.filter(d=> d.week==48))} fill="orange"/></g>
            <text transform="rotate( -20 0.5 2) translate({margin.left+450},{margin.top-50})">Week 5</text>
      <g transform="rotate(20 0.5 40) translate({margin.left-160},{margin.top-220})">
         <path transform="scale(-1, 1) translate(-400, 0)" d={electricity(dataset3.filter(d => d.week==49))} fill="blue"/>
        <path transform="scale(-1, 1) translate(-400, 0)" d={gasarea(dataset3.filter(d=> d.week==49))} fill="orange"/></g>
            <text transform="rotate(20 0.5 40) translate({margin.left},{margin.top-220})">Week 4</text>
      <g transform="rotate( -20 0.5 2) translate({margin.left+292},{margin.top+30})">
         <path transform="scale(-1, 1) translate(-400, 0)" d={electricity(dataset3.filter(d => d.week==50))} fill="blue"/>
        <path transform="scale(-1, 1) translate(-400, 0)" d={gasarea(dataset3.filter(d=> d.week==50))} fill="orange"/></g>
            <text transform="rotate(-20 0.5 40) translate({margin.left+450},{margin.top+20})">Week 3</text>
      <g transform="rotate( 20 0.5 2) translate({margin.left-110},{margin.top-120})">
         <path transform="scale(-1, 1) translate(-400, 0)" d={electricity(dataset3.filter(d => d.week==51))} fill="blue"/>
        <path transform="scale(-1, 1) translate(-400, 0)" d={gasarea(dataset3.filter(d=> d.week==51))} fill="orange"/></g>
            <text transform="rotate( 20 0.5 2) translate({margin.left+30},{margin.top-120})">Week 2</text>
      <g transform="rotate( -20 0 0) translate({margin.left+22},{margin.top+140})">
         <path transform="scale(-1, 1) translate(-400, 0)" d={electricity(dataset3.filter(d => d.week==52))} fill="blue"/>
        <path transform="scale(-1, 1) translate(-400, 0)" d={gasarea(dataset3.filter(d=> d.week==52))} fill="orange"/></g>
            <text transform="rotate( -20 0 40) translate({margin.left+410},{margin.top+130})">Week 1</text>
            <text transform="translate({margin.left+260},{margin.top+200})">Baltimore</text>
            <text transform="translate({margin.left+260},{margin.top+220})">December(2014)</text>
    </g>
  
  </svg>


