<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
  import Child from "./_design_3_child.svelte";

let dataset3 = null;

console.log(dataset3)
// data
onMount(async () => {
  dataset3 = await json("/data/hourly_electricity_vs_gas_december.json");
});
</script>

{#if dataset3}
<Child {dataset3} />
{/if}


<style>
svg {
  border: 1px solid black;
  border-radius: 5px;
}
</style>
