<script>

    // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
   // data

</script>
<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>

