<div>
  <!DOCTYPE html>
<html>
    <body>
    <p> The best visual channels ordered by Mackinlay's ranking:
    </p>
    <ol>

     <li>Position</li> 
     <li>Length</li>
     <li>Angle</li>

    </ol>
    </body>
</html>
</div>
