<!DOCTYPE html>
<html>

<body>
<style>
#datatext {
    color: SteelBlue;
    font: 25px comic;
        }
</style>

 <div id="datatext">

<p>I <span style='color: SkyBlue'>really</span> like data visualisation!</p>

</div> 
</body>

</html>
