<script>
const name='David Frost Cruz';
const favorites=['Morning coffee, Walking on nature, Eating Acai Bowl'];
</script>
<p>My name is: {name}. And these are some of my favourite things: {favorites} </p>