<script>
import { InternMap } from "d3-array";
import { loop } from "svelte/internal";

  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];
  export let increase = 0; 
  export let countries = 'all';



export function timer() {setInterval(function() {
  increase++;
  if (increase == data.length-1)  
      { 
        increase=0
        clearInterval(increase)
      } 
},60)};

$: {

}

console.log(data);
</script>
<div class="row">
  <div class="col-2">
    <!--  -->
    <button type="button" class="btn btn-primary" on:click="{() => timer()}">{increase ? 'Stop' : 'Start'} </button>
    <button type="button" class="btn btn-primary" on:click="{() => 
    {
      clearInterval(increase)
      increase=0
    }}">Reset</button> 
  </div>
  
  <div class="col-4">
    <!--  -->
    <label class="form-label col-sm-10">Year: {data[increase]['year']} <input type="range" class="form-range" min="0" max={data.length-1} step="1" bind:value = {increase}></label>
  </div>
  
  <div class="col-6">
  <select id="continent-select" class="form-select" bind:value = {countries}>
    <option value="all">all</option>
    {#each continents as item}
    <option value ={item}>{item}</option>
    {/each}
  </select>
  </div>
</div>

