<script>
	let count = 0;
</script>
<div>
    <button type="button" class="btn btn-primary" on:click="{() => count += 1}">
	Clicked {count} times</button>
    <button type="button" class="btn btn-danger" on:click ="{() =>count=0}">Reset</button>   

</div>
