<script>
  import { scaleLinear } from "d3-scale";
  
  import { onMount } from "svelte";
  
  
    // Dimensions
    const width = 800;
    const height = 100;
    const margin = { top: 10, right: 20, bottom: 20, left: 20 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
  
    // Arrays
    const points = [
      innerWidth / 2 - 60,
      innerWidth / 2 - 30,
      innerWidth / 2,
      innerWidth / 2 + 30,
      innerWidth / 2 + 60
    ];
    // All lights with a higher index are on!
    let index = points.length;
  
    onMount(
      setInterval(() =>{
        index-=1;
        if (index < 0)  {clearInterval(index)} color = "green"
      },1000)
      );
    // Color
    $: color = index > 0 ? 'darkred' : 'green';
  </script>
  
  <svg viewBox="0 0 {width} {height}">
    <g transform="translate({margin.left},{margin.top})">
      {#each points as item, idk}
      <circle circle cx = {item} cy = 35 r = 10 fill={color} opacity={idk < index ? 0.3 : 1}/>
      {/each}
    </g>
  </svg>