<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";
  
  let increase = 0; 
  let options = "all"; 

  // Load the data
  let data = null;
  let dataoptions=null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
    dataoptions = data[0]['countries']; 
  });
  $: {
    if (data) {if(options == 'all') {dataoptions = data[increase]['countries'];}
    else {dataoptions = data[increase]['countries'].filter(a =>a.continent == options)}
    }
  }
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={dataoptions}/>
    <Controls {data} bind:increase={increase} bind:countries={options}/>
  </div>
{/if}
