<script>
  import { scaleLog } from "d3-scale";
  import { axisBottom } from "d3-axis";
  import { select } from "d3-selection";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

// Array
  const values = [2, 4, 6, 7, 9];
  const scale = scaleLog().domain([1,10]).range([0,innerWidth]);
  values.forEach(val => console.log('The values are ${scale(val)}'));

function xaxisx(element) {
  let xxaxis = axisBottom(scale);
  select(element).call(xxaxis)
  .append('text')
  .attr('text-anchor', 'middle')
  .attr("x", width/2)
  .attr("y", innerHeight/5-20)
  .attr('fill', 'currentcolor')
  .text('X Label');
};
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as item}
    <circle cx={scale(item)} cy={45} r="10" fill="blue" ></circle>
    {/each}

  </g>
  <g use:xaxisx transform="translate(0, {innerHeight-20})">
  </g>
</svg>
