<script>
import { append, attr, select_multiple_value, text } from "svelte/internal";
import { scaleLinear, scaleLog, scaleOrdinal } from "d3-scale";
  import { axisBottom } from "d3-axis";
  import { select } from "d3-selection";
import { InternMap } from "d3-array";
import Card from "$lib/ui/Card.svelte";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
  const scaleonx = scaleLinear().domain([1,10]).range([0,innerWidth]);
  const scaleony = scaleLinear().domain([1,10]).range([0,innerHeight]);
  const colorplot = scaleOrdinal().domain(["cat1", "cat2", "cat3"]).range(["brown", "orange", "blue"]);
  function xaxisx(element) {
    let axisx = axisBottom().scale(scaleonx); 
    select(element).call(xaxisx)
    .append("svg.text")
    .attr("class","x label")
    .text("X axis");
  }
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as item}
    <line x1={scaleonx(item.x)} y1={scaleony(item.y)} x2={scaleonx(item.x)} y2=70 style="stroke:rgb(255,0,0);stroke-width:2" />
    <circle cx={scaleonx(item.x)} cy={scaleony(item.y)} r="4" fill={colorplot(item.category)}></circle>
    <text x={scaleonx(item.x)} y={scaleony(item.y)}>{item.y}</text>
    {/each}
    <line x1=0 y1=70 x2=800 y2=70 style="stroke:rgb(255,0,0);stroke-width:2" />
  </g>

</svg>


<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
